#root {
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-color:rgb(255, 219, 168);
}

.quote {
  color: black;
  height: fit-content;
  padding: 5%;
  border-radius: 15px;
  background-color: antiquewhite;

}
.quoteBox {
  color: black;
  height: fit-content;
  padding: 1%;
  border-radius: 15px;
  text-align: start;
}

.author {
  text-align: end;
}

#searchIcon {
  width: 10px;
  height: 10px;
  outline: none;
  
}

.wrapper {
  width: 100%;
  text-align: center;
  display: flex;
}

input {
  border-radius: 20px;
  width: 100%;
  display: block;
}